{{#>layout.front title=(i18n 'system.not_authorised.title') activemode=true}}
	<div class="focus">
		<h1>{{i18n 'system.not_authorised.title'}}</h1>
		<h3>{{i18n 'system.not_authorised.content'}}</h3>
		<form action="/" method="GET">
		<button type="submit" class="button primary">{{i18n 'system.not_authorised.exit'}}</button>
		</form>
	</div>
{{/layout.front}}       