{{#>layout.front title=(i18n 'system.unprocessable_request.title') activemode=true}}
	<div class="focus">
		<h1>{{i18n 'system.unprocessable_request.title'}}</h1>
		<h3>{{i18n 'system.unprocessable_request.content'}}</h3>
		<form action="/" method="GET">
		<button type="submit" class="button primary">{{i18n 'system.unprocessable_request.exit'}}</button>
		</form>
	</div>
{{/layout.front}} 