{{#>layout.front title=(i18n 'system.system_error.title') activemode=true}}
	<div class="focus">
		<h1>{{i18n 'system.system_error.title'}}</h1>
		<h3>{{i18n 'system.system_error.content'}}</h3>
		<form action="/" method="GET">
		<button type="submit" class="button primary">{{i18n 'system.system_error.exit'}}</button>
		</form>
	</div>
{{/layout.front}}        